<div class="container-fluid">
    <br />
    <div class="card mt-2">
      <div class="card-header">
        <h4>Clientes</h4>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">CPF</th>
              <th scope="col">Data de Nascimento</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Cliente 001</td>
              <td>00000000001</td>
              <td>11/11/2011</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Cliente 002</td>
              <td>00000000002</td>
              <td>22/02/2012</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>