<div class="container-fluid">
    <br />
    <div class="card mt-2">
      <div class="card-header">
        <h4>Clientes</h4>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">CPF</th>
              <th scope="col">Data de Nascimento</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of clientes">
              <th scope="row">{{ c.id }}</th>
              <td>{{ c.nome }}</td>
              <td>{{ c.cpf }}</td>
              <td>{{ c.data_nascimento }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>