<div class="container-fluid">
  <br />
  <div class="card mt-2">
    <div class="card-header">
      <h4>Produtos</h4>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Preço sugerido</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Produto 001</td>
            <td>10.20</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Produto 002</td>
            <td>1.99</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>